*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0b4aa2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-card{

    width:420px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.25);

    text-align:center;

}

h2{

    margin-bottom:25px;

    color:#333;

}

input{

    width:100%;

    padding:15px;

    font-size:16px;

    border:1px solid #ccc;

    border-radius:8px;

    margin-bottom:20px;

}

button{

    width:100%;

    padding:15px;

    background:#003b8e;

    color:white;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

}

button:hover{

    background:#002766;

}
